@import "tailwindcss";
.animate-slide {
  animation: slideIn 0.4s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


